{
  "extends": "@ivangabriele/eslint-config-react",
  "parserOptions": {
    "ecmaVersion": 2021,
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "node": false
  },
  "ignorePatterns": ["/dist/", "/icons/material/", "/storybook-static/", "/submodules/"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-underscore-dangle": "off",

    "import/no-extraneous-dependencies": ["error", { "peerDependencies": true }],

    "react/forbid-prop-types": "off",
    "react/jsx-props-no-spreading": "off",
    "react/prop-types": [
      "error",
      { "ignore": ["checked", "children", "className", "disabled", "defaultChecked", "onChange"] }
    ],

    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": [
        "common/**/*.js",
        "components/**/*.jsx",
        "contents/**/*.jsx",
        "elements/**/*.jsx",
        "fields/**/*.jsx",
        "GlobalStyle.jsx",
        "ThemeProvider.jsx"
      ],
      "rules": {
        "import/no-default-export": "error",
        "import/prefer-default-export": "off"
      }
    },
    {
      "files": ["icons/**/*.jsx"],
      "rules": {
        "react/jsx-sort-props": "off"
      }
    },
    {
      "files": ["**/*.stories.jsx"],
      "rules": {
        "sort-keys-fix/sort-keys-fix": "off"
      }
    },
    {
      "files": ["./scripts/**/*.js", "./scripts/**/*.mjs"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    },
    {
      "files": ["./demo/**/*.js", "./demo/**/*.jsx"],
      "env": {
        "browser": true,
        "node": true
      },
      "rules": {
        "react/prop-types": "off"
      }
    }
  ]
}
