{
  "extends": "@ivangabriele/eslint-config-typescript-react",
  "env": {
    "browser": true,
    "node": false
  },
  "parserOptions": {
    "ecmaVersion": 2021,
    "extraFileExtensions": [".mjs"],
    "project": "./tsconfig.json"
  },
  "ignorePatterns": ["/dist/", "/examples/", "/scripts/", "/storybook-static/", "rollup.config.js"],
  "rules": {
    "no-console": ["error", { "allow": ["warn", "error"] }],
    "no-underscore-dangle": "off",

    "import/no-extraneous-dependencies": ["error", { "peerDependencies": true }],

    "react/forbid-prop-types": "off",
    "react-hooks/exhaustive-deps": "off",
    "react/function-component-definition": "off",
    "react/jsx-props-no-spreading": "off",
    "react/no-typos": "off",
    "react/react-in-jsx-scope": "off",
    "react/require-default-props": "off"
  },
  "overrides": [
    {
      "files": ["**/*.stories.tsx"],
      "rules": {
        "sort-keys-fix/sort-keys-fix": "off",

        "@typescript-eslint/naming-convention": "off",

        "import/no-default-export": "off"
      }
    },
    {
      "files": ["./scripts/**/*.js", "./scripts/**/*.mjs"],
      "env": {
        "browser": false,
        "node": true
      },
      "rules": {
        "import/no-extraneous-dependencies": ["error", { "devDependencies": true }]
      }
    }
  ]
}
