import React from 'react';
import styled from 'styled-components';

const /*ICON_NAME*/Svg = props => (
  /*ICON_SVG_SOURCE*/
);

const /*ICON_NAME*/ = (styled.default || styled)(/*ICON_NAME*/Svg).attrs(p => ({
  accent: p.accent || 'primary',
}))`
  fill: ${p => p.theme.color[p.accent].active};
`;

export default /*ICON_NAME*/
