name: Test

on: push

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          cache: yarn
          node-version: 16
      - run: node ./scripts/ci/setup.js
      - run: yarn
      - run: yarn test:lint --ignore-pattern '/demo/'
